/* Trying make it !important(less) */
/* Whole scrollbar */
::-webkit-scrollbar {
  width: 18px;
  height: 18px; 
}
body::-webkit-scrollbar {
  width: 18px;
  height: 18px; 
} 

::-webkit-scrollbar-button {
  width: 0px; 
  height: 0px;
}

/* Moving part */
::-webkit-scrollbar-thumb {
  background: var(--colorBgIntenser);
  /* background-color: rgba(0, 0, 0, 0.9);*/
  border: 1px inset #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:horizontal {min-width:75px;}
::-webkit-scrollbar-thumb:vertical {min-width:75px;}
::-webkit-scrollbar-thumb:hover {
  background: var(--colorBgIntense);
}
::-webkit-scrollbar-thumb:active {
  background: var(--colorBgLighter); /* On click */
}

/* Scrollbar background */
::-webkit-scrollbar-track {
  background: var(--colorAccentBgFadedMost);
  border: 0px none #ffffff;
  border-radius: 0px;
}

body::-webkit-scrollbar-track {
  background: var(--colorAccentBgFadedMost);
  border: 0px none #ffffff;
  border-radius: 0px;
}

/*
::-webkit-scrollbar-track:hover {
  background: #e1e1e1;
}

body::-webkit-scrollbar-track:hover {
  background: #e1e1e1;
}

::-webkit-scrollbar-track:active {
  background: #e1e1e1;
}

body::-webkit-scrollbar-track:active {
  background: #e1e1e1;
}
*/

::-webkit-scrollbar-corner {
  background: #e1e1e1;
}
::-webkit-scrollbar-resizer {
  background: #e1e1e1;
}      